<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("views.user.delete"), user, method: :delete, 
    data: {confirm: t("views.user.confirm")} %>
  <% end %>
</li>
