<%= provide :title, t("views.layouts.categories") %>

<div class="col-md-8 col-md-offset-2">
  <h4>
    <%= link_to t("admin.category.new"), new_admin_category_path,
      class: "btn btn-default" %>
  </h4>
</div>

<% @categories.each do |category| %>
  <div class="col-md-8 col-md-offset-2">
    <h4><%= link_to category.name, admin_category_path(category) %></h4>
  </div>
<% end %>
