<li class="list-group-item">
  <h4>
    <%= link_to avatar_for(@user, Settings.avatar.size_img_tag,
      Settings.avatar.size_img_tag), @user %>
    <span class="text-info"><%= link_to @user.name, @user %></span>
    <% if activity.lesson.present? && activity.lesson.category.present? %>
      <%= activity.action + " #{Settings.QUESTION_PER_LESSON} words
        - #{activity.lesson.category.name}" %>
        ( <%= activity.created_at.to_date %> )
    <% end %>
  </h4>
</li>
