<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("views.layouts.logo"), "#", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to t("views.layouts.home"), root_path %></li>
        <li><%= link_to t("views.layouts.words"), words_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("views.layouts.login"), "#", class: "glyphicon glyphicon-log-in" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
